{% load static %}
<!DOCTYPE html>
<html>
<head>
{% block title %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% block js %}{% endblock %}
</head>

{% block userbar %}
    <div id="userbar">
    {% block top-fixed %}
        <a href="{% url 'polls:index' %}">index</a> | 
        <a href="{% url 'polls:create' %}">Create poll</a> | 
        {% if user.is_authenticated %}
        Logged in as <span id="user">{{ user }}</span> | <a href="{% url 'logout' %}{% block logout-redirect %}?next={{ request.path }}{% endblock %}">Logout</a>
        {% else %}
        You are not logged in. | <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
        {% endif %}
    {% endblock top-fixed %}
    </div>
{% endblock userbar %}


<body>
{% block content  %}
{% endblock content %}
</body>
</html>
