{% block title %}{% endblock %}

{% block userbar %}
    <div id="userbar">
    {% block top-fixed %}
        {% if user.is_authenticated %}
        Logged in as <span id="user">{{ user }}</span> | <a href="{% url 'logout' %}{% block logout-redirect %}?next={{ request.path }}{% endblock %}">Logout</a>
        {% else %}
        You are not logged in. | <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
        {% endif %}
    {% endblock top-fixed %}
    </div>
{% endblock userbar %}


{% block content  %}
{% endblock content %}
